body{
    background-color: grey;
    color: white;
}
.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.inner{
    border: 2px solid black;
    width: 900px;
    text-align: center;
    padding: 20px;
    background-color: rgb(175, 175, 180);
}
.h1main{
    background-color: lightblue;
    border: 2px solid black;
    padding: 20px;
}
.inner > input{
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.inner>button{
    padding: 20px;
    width: 200px;
    border-radius: 5px;
}